.line{
    display: flex;
    justify-content: space-around;
    margin: 65px;
}
.background{
    background-color: #fafafa;
    width: 340px;
    height: 160px;
}
.sale__1{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.sale_1_right {
    display: flex;
}
.sale_1_right .gray{
    margin-top: 1px;
}
.blue{
    color: #1db3f3;
}
.gray_1{
    color: #707070;
}
.gray{
    color: #707070;
    margin-top: 1px;
}
.sell p{
    width: 301px;
    height: 30px;
}
.sale {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 22px;
    padding-right: 22px;

}
.sale p {
    margin-top: 0px;
}
.pass{
    display: flex;
    justify-content: space-between;
}
.click{
    width: 110px;
    height: 40px;
    background-color: #1db3f3;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}
.click{
    width: 110px;
    height: 40px;
    background-color: #1db3f3;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    flex-direction: row;
    display: flex;
}
.bag {
    width: 21px;
    height: 24px;
}
