header {
  box-shadow: 2px -15px 44px -3.91691px rgb(3 17 67 / 20%);
}
.logo {
  width: 231px;
  height: 121px;
  cursor: pointer;
}
.header {
  display: flex;
  height: 178px;
  position: relative;
  align-items: center;
  width: 89%;
  max-width: 1420px;
  margin: 0 auto;
}
.menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.menu ul li {
  display: inline-block;
  margin: 23px;
  font-family: "bpg square 38 caps";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  text-align: left;
  color: #03539c;
}
.login {
  display: flex;
  align-items: center;
}
.login img {
  width: 16px;
  height: 20px;
  cursor: pointer;
  margin: 6px;
}
.login p {
  color: #03539c;
  cursor: pointer;
}
