.footer {
  width: 100%;
  height: 488px;
  margin-top: 80px;
}
.footer_left {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 89%;
  max-width: 1420px;
  margin: 0 auto;
}
.footer_centre {
  display: flex;
  column-gap: 19px;
}
h3 {
  font-family: "bpg square 38 caps";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #03539c;
}
.product_list ul li {
  font-family: "bpg square 38";
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  font-style: normal;
  text-align: left;
  color: #03539c;
}
.waypoint {
  display: flex;
  align-items: center;
}
.icone_conta {
  display: flex;
  align-items: center;
  margin-top: 97px;
  justify-content: space-between;
  width: 17rem;
}
.contact_list p {
  font-family: "bpg square 38";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  text-align: left;
  color: #03539c;
}
